.nav{
    height: 100px;
    background-color: black;
    height: 80px;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    margin-top: -25px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.logo{
    color:white;
    font-size: 20px;
    text-align: left;
    padding-top: 35px;
    padding-left: 10px;
    font-family:   'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}